//****************************
//  COLORS
//*****************************


$black: #231f20;
$yellow: #ffd68d;
$yellow-weak:#FFECBB;
$orange: #EB7263;
$pink: #A65265;
$purple: #58385C;
$white: #f3f3f4;
